* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: right;
  padding: 0rem 1rem 0rem 0rem;
  height: 100vh;
  background-color: #ffffff;
  background-image: url("../public/Homepage/parent-nav.jpg");
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: left;
  margin: 0;
}

.title-logo {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin-bottom: 2rem;
  background-color: #ffffff;
}

.title {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: #161e2e;
  margin-bottom: 0.5rem;
}

.page-content {
  display: flex;
  margin-right: 0;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  width: 50%;
  height: 100%;
  background-color: #ffffff;
}

.home-foot a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 1rem 0rem 0rem;
  margin-top: 1.5rem;
  text-decoration: none;
}

.meet-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: max-content;
  background-color: #faf8f8;
}

.meet-nav-bar {
  position: sticky;
  margin-bottom: 4rem;
  background-color: #ffffff;
}

.meet-step-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100vh;
  margin: 1rem auto;
  border-radius: 10px;
  background-color: #ffffff;
}

.meet-steps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4rem auto;
  width: 50%;
  height: 100%;
  background-color: #ffffff;
}
