.logo {
  width: 100px;
  height: 100px;
  margin: 0 12px;
  display: block;
  margin-bottom: 10px;
}

.signin-container {
  height: 100vh;
  overflow: hidden;
  background-image: url("../../assets/signin/signinpg.jpg");
  background-repeat: no-repeat;
  background-size: 60vw 100vh;
  background-position: right;
}

.signin-form {
  border: 2px solid white;
  padding: 1rem;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.signin-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 2rem;
}

.signin-header h1 {
  font-size: 2rem;
  font-weight: 750;
  color: #252f3f;
  margin-bottom: 0.3rem;
  padding: 0;
}

.signin-header span {
  font-size: 1.25rem;
  font-weight: 400;
  color: #252f3f;
  margin-bottom: 0.3rem;
  padding: 0;
}

.signin-header a {
  text-decoration: none;
}

.auth-account {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 1rem 0;
  background-color: #ffffff;
}

.auth-account span {
  font-size: 1.25rem;
  font-weight: 500;
  color: #252f3f;
  margin-bottom: 0.7rem;
  padding: 0;
}

.form {
  display: flex;
  padding: 2rem;
  margin: 1rem 2rem 0rem 2rem;
  flex-direction: column;
  align-items: left;
}

.forgot-password {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5rem 0;
}

.forgot-password a {
  font-size: 1rem;
  font-weight: 400;
  color: #252f3f;
  margin-bottom: 0.3rem;
  padding: 0;
  text-decoration: none;
}
