.pet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../../../public/PetInfo/pet-info-dog.jpg");
  background-repeat: no-repeat;
  background-size: 30% 80%;
  background-position: top left;
  margin-top: 0;
}

.pet-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: max-content;
  margin: 1rem 0;
  padding: 2rem 0rem 2rem 0rem;
  background-color: #ffffff;
  background-image: url("../../assets/signup/user-with-pet.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 15%;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.pet-form {
  display: flex;
  min-width: 40vw;
  padding: 1rem 0rem 1rem 0rem;
  flex-direction: column;
  align-items: left;
}

.submit-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.prev-history {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.prev-history span {
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  margin: 1rem;
  padding: 0;
}
